.weatherContainer {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  gap: 2.5rem;
  background-color: #16213e;
  border: 1px solid #16213e;
  box-shadow: #16213ee3 0 0 2px 2px;
}

@media only screen and (min-width: 768px) {
  .weatherContainer {
    width: 50%;
    margin: 15rem auto;
    border-radius: 15px;
  }
}
